{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
                <h3>Интересные факты о нас: </h3>
                <p><b>0</b> - количество жалоб за последние два года</p>
                <p><b>0</b> - количество недовольных клиентов за последние два года</p>
                <p><b>0</b> – количество навязанных страховок, SMS-уведомлений и других услуг у агентств</p>
                <p><b>1+1+1 = &infin;</b> – в команде Easy Flight 1 Родион, 1 Александр, 0 Мухаммедов и 1 женщинa.</p>
{% endblock %}
