{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
                <h1>Алкотуризм - c чем его пьют</h1>     
                <p>
                    Пусть никого не смущает сочетание слов алкоголь и туризм. К алкоголизму такой вид развлечения и отдыха отношения не имеет. Названный порок предполагает, что человеку все равно, где и с кем пить. А почитателям популярного ныне среди молодежи вида туризма интересен не процесс употребления, а изучение культуры и традиций этого процесса.
                </p>
                
                <p>
                    Команда Easy Flight провел аналитическое исследование и составил список городов, которые лучше всего подходят для алкотуризма. При этом эксперт, в первую очередь, обращал внимание на такие компоненты хорошего отдыха: дружелюбная обстановка, уют, а также наличие алкогольных напитков местных производителей.
                </p>
                
                <h4>Мюнхен, Германия</h4>
                <p>
                    Столица Баварии может быть запросто признана пивной столицей всей Германии. Да и сами баварцы считают, что пивом Германия обязана именно им. Есть документально подтвержденный факт, что именно баварский герцог Вильгельм IV 23 апреля 1516 года издал знаменитый «закон о чистоте пива», согласно которому напиток должен содержать только солод, хмель, воду и ничего больше. Этот закон по сей день действует в Германии.<br>

                    Наиболее популярными сортами пива является «пильзнер» (или «пильз» – светлое),  «альт» (темное) как в Дюссельдорфе, или «кёльш» в Кёльне. Баварцы же отдают предпочтение Lager, Hell или Weißbier. Кроме того,  только в Баварии оно (за исключением Weißbier)  подается в литровых стеклянных кружках.<br>
                    Для Мюнхена пиво -  больше, чем напиток. Его здесь не только повсеместно пьют, а и готовят на его основе различные блюда. 
                    Город также славен своими пивными фестивалями. Самый известный из них - Октоберфест. Многие эксперты полагают, что именно в Мюнхене варят и продают самое вкусное пиво в мире.  
                </p>
                
                <h4>Стамбул, Турция</h4>
                <p>
                    Вторую позицию в рейтинге самых приятных для алкогольных вечеринок городов на планете занял Стамбул. Пиво здесь стоит дешевле пары долларов за бокал. К тому же Стамбул сегодня становится центром притяжения модной молодежи, которая любит проводить ночи на танцполах под новую электронную музыку. Чего-чего, а недостатка в барах и ночных клубах в Стамбуле нет.<br>
                    Турция – страна светская и либеральная. Здесь нет официальной религии, и даже те турки, которые относят себя к мусульманам, далеко не всегда посещают мечети и выполняют все религиозные предписания. Поэтому здесь легко можно встретить мусульманина, который обожают пиво Efes.<br>
                    Сами турки объясняют свои вкусовые пристрастия тем, что Коран не запрещает употребление алкоголя вообще, а скорее не приветствует состояние опьянения.<br>
                    В Турции выпускается много видов пива, вин и ликеров, в том числе традиционную водку ракию, настоянную на анисе – она известна еще как «молоко льва». И хотя алкоголь непрестанно дорожает из-за увеличивающихся налогов, купить его можно где угодно.<br>
                    Но учтите, что в Стамбуле нельзя пить спиртное на улице прямо из бутылки. К тому же цены на алкоголь очень высокие - бутылка водки стоит примерно 350 гривен.
                </p>
                
                <h4>Прага, Чехия</h4>
                <p>
                    Это один из немногих городов Европы, где бутылку пива до сих пор можно приобрести за 10-14 центров. Количество пабов в Праге также не поддается никакому счету. Во многих из них бокал пива продается всего за $1.<br>
                    Учтите, что в Праге действовует запрет на распитие алкогольных напитков на улицах в окрестностях станций метро, школ, детских и медицинских учреждений в радиусе до 100 метров. Кроме того, запрет распространяется еще на 383 пражских улицы.<br>
                    За нарушение закона о запрещении распития алкоголя в общественных местах нарушителю грозит солидный штраф: при оплате через суд – порядка 1 тысячи евро. 
                </p>
{% endblock %}