{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
                <div class="block">
                   <a href="http://ya2017.com/travel/kuda-poehat-za-granitsu-2017/">
                    <div class="anno">
                        <section>
                            <img src="{% static "static/images/kuda_go.jpg" %}" alt="Картинка отсутствует">
                            <h3>Куда отправится в 2017 году</h3>
                            <p>Решаете, где побывать в этом году? Хотите насладиться солнцем и морем, как следует отдохнуть и избавиться от хандры? Открыть для себя новые страны, узнать их культурные традиции и историю? Найти подходящий вариант среди многообразия туристических направлений – задача не из легких.</p>
                        </section>
                    </div>
                    </a>
                </div>
                <div class="block">
                   <a href="http://www.chaskor.ru/article/kakuyu_aviakompaniyu_vybrat_dlya_pereleta_5354">
                    <div class="anno">
                        <section>
                            <img src="{% static "static/images/how.jpg" %}" alt="Картинка отсутствует">
                            <h3>Какую авиакомпанию выбрать для перелета?</h3>
                            <p>Перелеты между городами и странами давно уже стали привычной частью нашей жизни. Однако, несмотря на богатый опыт путешествий по воздуху, проблема выбора перевозчика не теряет актуальности.</p>
                        </section>
                    </div>
                    </a>
                </div>
                <div class="clear"></div>
                <div class="block">
                   <a href="http://muzey-factov.ru/tag/tourism">
                    <div class="anno">
                        <section>
                            <img src="{% static "static/images/top10.jpg" %}" alt="Картинка отсутствует">
                            <h3>Интересные факты о туризме</h3>
                            <p>Что вы не знали о туризме? Виза какой страны стоит 250$ в сутки? Где можно потренироватся в незаконном пересечении границы США?</p>
                        </section>
                    </div>
                    </a>
                </div>
                <div class="block">
                   <a href="http://style.rbc.ru/guide/travel/57163b329a79472acdb35ee6">
                    <div class="anno">
                        <section>
                            <img src="{% static "static/images/hotel.jpeg" %}" alt="Картинка отсутствует">
                            <h3>Самые дорогие отели мира</h3>
                            <p>Они видели все: романтические ночи, безумные дни, счастливых молодоженов и азартных игроков. Они выделяются среди всех остальных своим уникальным стилем и невероятной роскошью.</p>
                        </section>
                    </div>
                    </a>
                </div>
{% endblock %}                