{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
                    <h3>Полезные ссылки для туристов:</h3>
                    <ul>
                        <li><p><a href="http://to-u.ru/"><b>Tour Union</b></a></p>
                            <p>Универсальный туристический ресурс, на котором нужную информацию могут найти и туристы, и гиды. С помощью сайта можно найти услуги гидов в разных странах мира, почитав предварительно отзывы об их работе, можно прочесть статьи или посмотреть видео о тех странах, в которые турист хотел бы съездить. Специальный раздел посвящен отзывам об отелях. В справочном разделе сайта доступна информация о разных странах и городах мира. А зарегистрированные пользователи могут здесь искать попутчиков для своих путешествий. 
                            </p>
                        </li>
                        <li><p><a href="http://hipclub.ru/tours"><b>Hipway</b></a></p>
                            <p>Сервис поиска путешествий на основе целого ряда параметров. Искать путешествия можно по карте, категории отдыха или ключевому слову. Кроме того, все предложения собраны в каталог путешествий, в котором тоже доступен поиск. Найденное путешествие можно забронировать непосредственно на сайте. 
                            </p>
                        </li>
                        <li><p><a href="http://turometr.ru/"><b>Социальная сеть «Турометр»</b></a></p>
                            <p>Социальная сеть «Турометр» позволяет вести блоги, в которых рассказывать о своих впечатлениях, общаться с друзьями, которые предпочитают такие же виды отдыха. Кроме того, на сайте доступен сервис бронирования билетов и гостиниц. По словам авторов проекта, с помощью ресурса можно забронировать места в более 100 тыс. отелей по всему миру. 
                            </p>
                        </li>
                    </ul>
{% endblock %}                    